body{
  
  font-family: 'Times New Roman', Times, serif;
  height: 1000px; 
  position: fixed;
  background-color: rgb(100, 187, 187); 
      } 

.polaroid{
  position: fixed;
}

.container-1{
  position: fixed;
  left: 30%;
  bottom: 20px;
  top: 30px;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 25px;
  font-size: medium;
}




 /* Full-width input fields  */
input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: flex;
  align-content: flex-end;
  border-radius: 12px;
  background: #f1f1f1; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type=text]:focus, input[type=password]:focus {
   background-color: #ddd; 
  outline: none;
}


 /* Set a style for the signup button  */
#signupbtn {
  width: 50%;
  padding: 12px;
  font-size: 14px;
  background: #15C39A;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: -5px;
  /* transition: background 0.2s ease-out; */
  margin-left: 90px;

}

.signupbtn:hover {
  opacity: 1;
}


a {
  color: rgb(3, 47, 241);
}


.signin {
   background-color: #f1f1f1; 
  text-align: left;
}

@media(max-width: 1500px){
  .container1.containersignin{
    flex-direction: columns ;
  }
}

h1{
  margin-top: -20px;
  margin-left: 130px;
}